.container {
    max-width: 400px;
}

.top-one {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 25%;
  height: 80px;
  float: left;
}
.top-container {
  width: 55%;
  margin-bottom: 1px;
  margin-top: 25px;
  height: 50px;
  float: right;
}
.top-a {
  width: 25%;
  margin-bottom: 1px;
  height: 60%;
  border: 1px solid black;
  float: left;
}
.top-b {
  width: 22%;
  margin-bottom: 1px;
  height: 60%;
  border: 1px solid black;
  margin-left:2px;
  float: right;
}
.top-c {
  width: 22%;
  margin-bottom: 1px;
  height: 60%;
  border: 1px solid black;
  margin-left:2px;
  margin-right:2px;
  float: right;
}
.top-d {
  width: 22%;
  margin-bottom: 1px;
  height: 60%;
  border: 1px solid black;
  float: right;
}
.second-rowb {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 100%;
  height: 150px;
  margin-top: 1px;
  float: right;
}

.first-top {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 32%;
  margin-top: 1px;
  margin-right: 1px;
  height: 80px;
  float: left;
}

.second-top {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 33%;
  margin-top: 1px;
  margin-right: 1px;
  height: 80px;
  float: left;
}

.third-top {
  border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 32%;
  margin-top: 1px;
  height: 80px;
  float: right;
}

.bottom-one {
   border-size: 1px;
  border-style: solid;
  border-color: black;
  border: 1px solid black;
  width: 100%;
  margin-top: 1px;
  height: 70px;
  float: left;
}